body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image:url("https://www.theengineer.co.uk/media/5x5p3m3r/farm_adobestock_619624284.jpg?width=1002&height=564&bgcolor=White&rnd=133440993866670000"); /* Green gradient background */
    background-repeat : no-repeat;
    background-size:cover;
    overflow-y: hidden;
   
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: lightgreen;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px; /* Add padding to the button container */
    margin: 0 -20px; /* Add negative margin to counteract the padding */
    flex-direction: column;
   
    
}

.button {
    flex: 1; /* Make buttons stretch equally */
    padding: 50px;
    margin:20px;
    background-color:black; /* Button background color */
    color:lightgreen;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border-radius: 30%;
    opacity:0.8;
    
}

.button:hover {
    background-color:darkslateblue; /* Button background color on hover */
}