body{
    background-image: url("raphael-rychetsky-li9JfUHQfOY-unsplash.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 400px; */
   
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     height: 100vh;/*
    width: 200px;
    height: 50px;
    border-radius: 100px 100px 0 0; */
}

.centered-heading {
    text-align: center;
    margin-bottom: 200px;
     
    font-size: 80px;
    color: green;
}

.centered-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-buttons button {
    margin: 0 40px;
    border: 4px solid green;
    background-color: rgb(208, 208, 125);
    border-radius: 15px;
    width: 300px;
    /* font-size: xx-large; */
    font-size:50px ;
    font: bold;
    height: 80px;
    color: hsl(249, 73%, 15%);
    margin-bottom: 150px;
}
.centered-buttons a{
    color:hsl(249, 73%, 15%) ;
    text-decoration: none;
}
/* .farmer{
    color:hsl(249, 73%, 15%) ;
    height: 80px;
    width: 300px;
    font-size:50px;
    border: 4px solid green;
    
}
.farmer:hover{
    color:hsl(249, 73%, 15%);
    height: 120px;
    width: 350px;
    font-size:70px;
    border: 4px solid black;
    transition: color 0.8s ease-in-out,font-size 0.8s ease-in-out ,border 0.3s ease-in-out;
    

}
.buyer{
    color:hsl(249, 73%, 15%) ;
    height: 80px;
    width: 300px;
    font-size:50px;
    border: 4px solid green;
    transition: color 0.8s ease-in-out font-size 0.8s ease-in-out border 0.3s ease-in-out;
}
.buyer:hover{
    color:brown;
    height: 120px;
    width: 350px;
    font-size:70px;
    border: 4px solid black;
    

} */

.farmer{
    height: 80px;
    width: 300px;
    font-size: 50px;
    border: 4px solid green;
}
.farmer:hover{
    height: 120px;
    width: 350px;
    font-size: 70px;
    border: 4px solid black;
    transition: height 0.8s ease-in-out,width 0.8s ease-in-out,border 0.3s ease-in-out;
}